events {
    worker_connections 1024;
}

http {
    include mime.types;
    sendfile on;

    server {
        listen ${PORT};
        listen [::]:${PORT};

        resolver 127.0.0.11;
        autoindex off;

        server_name _;
        server_tokens off;

        root /app/static;
        gzip_static on;

        location /id {
            add_header Content-Type text/plain;
            return 200 '${ID_TEXT}\n';
        }

    }
}

